<% if params.key?("error") %>
  <div class="flash flash-error">
    <%= params["error"] %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Feature</h3>
  </div>
  <div class="panel-body">
    <form action="<%= script_name %>/features" method="post">
      <%== csrf_input_tag %>
      <input type="text" name="value" size="30" placeholder="ie: search, new_pricing, etc.">
      <input type="submit" value="Add Feature" class="btn">
    </form>
    <p class="help">
      Recommended naming conventions: lower case, <a href="https://en.wikipedia.org/wiki/Snake_case">snake case</a>, underscores over dashes.
      <strong>Good</strong>: foo_bar, foo.
      <strong>Bad</strong>: FooBar, Foo Bar, foo bar, foo-bar.
    </p>
  </div>
</div>
