<div class="alert alert-info">
  <p>Expression editing in the UI is disabled.</p>

  <p>
    To change this, you'll need to set <code>Flipper::UI.configuration.expressions_enabled = true</code> wherever flipper is running from.
  </p>
</div>
