<% if @show_blank_slate %>
  <div class="jumbotron text-center">
    <span class="mega-octicon octicon-plus"></span>
    <span class="mega-octicon octicon-list-unordered"></span>
    <span class="mega-octicon octicon-zap"></span>
    <h4>There are no features defined</h4>
    <p>Click on "Add Feature" to start flippin'.</p>
  </div>
<% else %>
  <div class="card">
    <h4 class="card-header">Features</h4>
    <table class="table">
      <thead>
        <tr class="d-flex">
          <th class="col-1">
            <span class="octicon octicon-squirrel"></span>
          </th>
          <th class="col">Feature</th>
          <th class="col">Enabled Gates</th>
        </tr>
      </thead>
      <tbody>
        <% @features.each do |feature| %>
          <tr class="d-flex">
            <td class="col-1">
              <span class="octicon octicon-squirrel <%= feature.color_class %>"></span>
            </td>
            <td class="col">
              <a href="<%= "#{script_name}/features/#{feature.key}" %>">
                <%= feature.key %></a>
            </td>
            <td class="col">
              <%= feature.pretty_enabled_gate_names %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
